@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300&family=Roboto:wght@100;300&family=Shalimar&family=Tangerine&display=swap');

* {
  font-family: 'Noto Sans Vai', sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../media/background.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #ccc;
}
.wrapper h1 {
  color: #fff;
}
.wrapper .container {
  width: 700px;
  height: 350px;
  background-color: #040420;
  border-radius: .3rem;
  box-shadow: 0px 0px 10px #000;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.wrapper .container p:first-child {
  color: #76df76;
  font-weight: bold;
  font-family: arial;
  letter-spacing: .09rem;
  font-family: 'Poppins', sans-serif;
}
.wrapper .container p:nth-child(2) {
  color: inherit;
  font-size: 1.6rem;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
.wrapper .container .style {
  display: flex;
  flex-direction: row;
  gap: .5em;
}
.material-symbols-outlined {
  font-size: 1.8rem;
  width: 4rem;
  height: 4rem;
  background-color: #47c547;
  border-radius: 100%;
  cursor: pointer;
  transition: all .5s ease;
}
.container p:last-child {
  color: rgba(255, 255, 255, .5);
  font-size: .8rem;
  pointer-events: none;
}
.material-symbols-outlined:hover {
  transform: scale(.9);
}
.material-symbols-outlined:focus {
  outline: none;
}
